@import "mixin.scss";
@import "common.scss";
$w:100%;
$h:100%;
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include justify(space-between);
    @include direction(column);
    background: #eee;
}

header {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    padding: 0 pxTorem(15px);
    color: gray;
    @include sizing;
    span {
        font-size: pxTorem(18px);
    }
    i.iconfont {
        font-size: pxTorem(20px);
    }
}

section {
    @include flex;
    @include box_flex;
    @include direction(column);
    .tab {
        width: 100%;
        height: pxTorem(130px);
        border-bottom: solid pxTorem(1px) #ccc;
        @include box_flex;
        @include align;
        @include justify(space-around);
        dt {
            width: pxTorem(50px);
            height: pxTorem(50px);
            border: solid pxTorem(1px) #ccc;
            border-radius: 50%;
            box-shadow: 0 0 pxTorem(20px) pxTorem(3px) #ccc;
            line-height: pxTorem(50px);
            text-align: center;
            color: gray;
            i.iconfont {
                font-size: pxTorem(20px);
            }
        }
        dt.active {
            color: red;
        }
        dd {
            text-align: center;
            line-height: pxTorem(25px);
            color: gray;
            margin-top: pxTorem(6px);
        }
    }
    .content {
        @include flex;
        @include align;
        @include justify;
        font-size: pxTorem(16px);
        color: gray;
        overflow: hidden;
        p {
            text-align: center;
            height: 100%;
            margin-top: pxTorem(130px);
        }
        p.none {
            display: none;
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(150px);
    border-top: solid pxTorem(1px) #ccc;
    @include box_flex;
    @include align;
    p:nth-child(1) {
        width: pxTorem(50px);
        height: pxTorem(50px);
        border: solid pxTorem(1px) #ccc;
        border-radius: 50%;
        box-shadow: 0 0 pxTorem(20px) pxTorem(3px) #ccc;
        line-height: pxTorem(50px);
        text-align: center;
        margin-right: pxTorem(25px);
        margin-left: pxTorem(25px);
        i.iconfont {
            font-size: pxTorem(20px);
        }
    }
    p:nth-child(2) {
        width: pxTorem(180px);
        height: pxTorem(44px);
        border: solid pxTorem(1px) #ccc;
        border-radius: pxTorem(22px);
        box-shadow: 0 0 pxTorem(20px) pxTorem(3px) #ccc;
        line-height: pxTorem(44px);
        text-align: center;
        i.iconfont {
            font-size: pxTorem(22px);
            color: gray;
        }
    }
}